.container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    min-width: 360px;
    padding: 5px 15px;

}

@media screen and (min-width: 720px) {
    .container {
        height: 100vh;
        padding: 5px 20px;
    }
}