.container {
    display: flex;
    margin-top: 10px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    flex-direction: column;
    gap: 25px;
    border-bottom: 1px solid white;
}

.filterField {
    width: 38%;
    padding: 10px 25px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #787777;
    font-size: 1rem;
    color: #333333;
    background-color: white;

}

.filterField:hover,
.filterField:focus {
    border: 1px solid rgb(78, 78, 78);
    box-shadow: rgba(0, 0, 0, 0.10) 0px 3px 8px;
}

.filterField::placeholder {
    color: black;
}

.filterField {
    font-size: 1.4rem;
    font-family: monospace;
    color: black;
}

@media screen and (min-width: 600px) {
    .filterField {
        font-size: 20px;
    }

    .container {
        flex-direction: row;
        border: none
    }
}

